@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  margin: 1.125rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h1 span {
  font-size: 1.125rem;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-top: 0;
}

a {
  color: #3783a3;
  font-size: 1.1rem;
}

div {
  text-align: center;
  border-top: .2rem solid #e2e2e2;
  border-bottom: .2rem solid #e2e2e2;
  margin: 1.25rem 0 1.5rem;
  padding: 1.25rem 0 1rem;
}

div i {
  font-size: 2rem;
}

div p {
  margin: 1rem;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

h2 {
  display: flex;
  flex-direction: column;
}

h2 span {
  font-size: 1rem;
}

h2 i {
  margin-top: .25rem;
}

article {
  display: flex;
  flex-direction: column;
}

article a {
  border: .2rem solid #3783a3;
  border-radius: .3rem;
  padding: .5em;
  text-decoration: none;
}

article p {
  margin: .5rem 0 1.5rem;
}

footer p {
  text-align: center;
  font-size: .75rem;
  padding-bottom: 1rem;
  border-top: .2rem solid #e2e2e2;
  padding-top: 1rem;
  margin-top: .5rem;
}

@media only screen and (min-width: 38em) {
    section {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
}
